<div class="deplos-sell-main">
  <div class="inner">
    <div class="form__wrapper">
      <h2  class="page-heading">ユーザー編集</h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

            <div class="field">
              <%= f.label :nickname %><br />
              <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname" %>
            </div>

            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :phone_number %><br />
              <%= f.text_field :phone_number, autofocus: true, autocomplete: "phone_number" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="field">
              <%= f.label :current_password %> <i>(変更にはパスワードが必要です)</i><br />
              <%= f.password_field :current_password, autocomplete: "current-password" %>
            </div>

            <div class="actions">
              <%= f.submit "アカウント更新" %>
            </div>
        <% end %>
    </div>
  </div>

  <%= button_to "アカウントの削除", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

  <%= link_to "戻る", :back %>

</div>