<div class="">
  <div class="">
    <% @deplos.each do |deplo|%>
    <div class="kinki_map">
      <img src="/assets/map-kinki.png" alt="近畿地図" id="kinki">
      <%= link_to('三重県', deplo_deplomies_path(@mies), class: "area_btn mie") %>
      <%= link_to('滋賀県', deplo_deploshigas_path(@shigas), class: "area_btn shiga") %>
      <%= link_to('京都府', deplo_deplokyotos_path(@kyotos), class: "area_btn kyoto") %>
      <%= link_to('大阪府', deplo_deploosakas_path(@osakas), class: "area_btn osaka") %>
      <%= link_to('兵庫県', deplo_deplohyogos_path(@hyogos), class: "area_btn hyogo") %>
      <span class="area_btn nara" id="nara">奈良県</span>
      <span class="area_btn wakayama" id="wakayama">和歌山県</span>
    </div>
  <% end %>
  </div>
</div>
