  <div class="index-contents">
    <div class="kinki_map">
      <img src="/assets/map-kinki.png" alt="近畿地図" id="kinki">
      <%= link_to '三重県', '/deplos/prefecture/1', class: "area_btn mie" %>
      <%= link_to '滋賀県', '/deplos/prefecture/2', class: "area_btn shiga" %>
      <%= link_to '京都府', '/deplos/prefecture/3', class: "area_btn kyoto" %>
      <%= link_to '大阪府', '/deplos/prefecture/4', class: "area_btn osaka" %>
      <%= link_to '兵庫県', '/deplos/prefecture/5', class: "area_btn hyogo" %>
      <%= link_to '奈良県', '/deplos/prefecture/6', class: "area_btn nara" %>
      <%= link_to '和歌山県', '/deplos/prefecture/7', class: "area_btn wakayama" %>
    </div>
  </div>