<div class="deplos-sell-main">
  <h2 class="deplos-sell-title">地域の情報を発信しよう!</h2>
  <%= form_with model:@deplo, id: 'deplo-image', url: deplos_path, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
      <div class="weight-bold-text">
        画像
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <div id='previews'></div> <%#プレビューを表示する%>
          <%= f.file_field :images, name: 'deplo[images][]', data: {index: 0} %> <%#画像を渡す%>
        </div>
    </div>
    <div class="">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%#タイトル入力フォーム%>
      <%= f.text_area :deplo_title, class:"deplos__text", id:"deplo-title", placeholder:"タイトル（必須 40文字まで)", maxlength:"40" %>
    </div>
    <div class="">
      <div class="weight-bold-text">
        紹介内容
        <span class="indispensable">必須</span>
      </div>
      <%#紹介内容入力フォーム%>
      <%= f.text_area :deplo_info, class:"deplos__info__text", id:"deplo-info"%>
    </div>
    <div class="">
      <div class="weight-bold-text">紹介内容の詳細</div>
        <div class="form">
          <div class="weight-bold-text">
            カテゴリー
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:category_id, Category.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"deplo-category"}) %>
          <div class="weight-bold-text">
            都道府県
            <span class="indispensable">必須</span>
          </div>
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: "---"}, {class:"select-box", id:"deplo-prefecture"}) %>
        </div>
        <div class="">
          <div class="weight-bold-text">
            市区町村
            <span class="indispensable">必須</span>
          </div>
          <%#市区町村入力フォーム%>
          <%= f.text_area :municipality, class:"deplos__text", id:"municipality"%>
        </div>
      </div>
      <div class="sell-btn-contents">
        <%= f.submit "投稿する" ,class:"sell-btn" %><br /><br />
        <%=link_to 'トップページへ戻る', root_path, class:"back-btn" %>
      </div>
    </div>
  <%end%>
</div>
