<div class="body-detail">
  <div class="show-padding">
    <div class="show-text">
      〜タイトル〜<br/><%= @deplo.deplo_title %>
    </div><br/>
    <div class="show-text">
      〜紹介内容〜<br/><%= @deplo.deplo_info%>
    </div><br/>
    <% if @deplo.images.present? %>
    <div class="deplo__img__contents">
    <%= image_tag @deplo.images[0], class: :deplo__box__img %> <%#　imagesを表示　%>
      <div class="other__images">
        <% @deplo.images[1..-1].each do |image| %> <%# テーブルに保存されているimagesを順番に表示 %>
          <div class="other__image" >
            <%= image_tag image, class: :deplo__box__img %>
          </div>
        <% end %>
      </div>
    </div>
    <% else %>
      <div class="deplo__img__images">
        <%= image_tag("no_image.png", class: :no__img) %>
      </div>
    <% end %>
    <br/>
    <div class="show-text">
      <p class="show-details">詳細</p>
      <div class="show-details">
        カテゴリー：<%= Category.find(@deplo.category_id)[:name] %>
      </div>
      <div class="show-details">
        住&emsp;&emsp;&emsp;所：<%= Prefecture.find(@deplo.prefecture_id)[:name] %><%= @deplo.municipality%>
      </div>

      <div class="show-details">
        投&emsp;稿&emsp;者：<%= link_to @deplo.user[:nickname], deplos_userdetail_path(@deplo.id) %>
      </div>

    </div><br/>
    <% if user_signed_in? %>
        <% if current_user == @deplo.user %>
          <%= link_to "編集する", edit_deplo_path, class: "link-btn" %><br/><br/>
          <%= link_to "削除する", deplo_path, method: :delete, class: "link-btn" %><br/><br/>
        <% end %>
        <% if current_user.admin? %>
          <%= link_to "削除する", deplo_admin_deplo_path(@deplo, @deplo.id), method: :delete, class: "link-btn" %><br/><br/>
        <% end %>
      <% end %>
  </div>
  <div class="show-padding">
    <div class="show-text">コメント一覧</div>
    <% @comments.each do |comment| %>
      <div class="comment-contents">
        <div class="show-text">
          <strong><%= comment.user.nickname %>
          </strong><br/>
          <%= comment.comment_content%><br/><br/>
          <% if user_signed_in? %>
            <% if current_user == comment.user %>
              <%= link_to "コメント削除", deplo_comment_path(comment.deplo_id, comment.id), method: :delete %>
            <% end %>
            <% if current_user.admin? %>
              <%= link_to "コメント削除", deplo_admin_comment_path(comment.deplo_id, comment.id), method: :delete %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %><br/>
    <div class="show-padding">
    <% if user_signed_in? %>
      <%= form_with(model: [@deplo, @comment], local: true) do |f| %>
        <%= f.text_area :comment_content, placeholder: "コメントする", rows: "4", cols: "40" %><br/>
        <%= f.submit "コメント送信" %>
      <% end %>
    <% else %>
     <strong><p>*** コメントの投稿には新規登録/ログインが必要です ***</p></strong>
    <% end %>
    </div>
  </div>
</div>