<div>
  <div>
    <h2>
      <%= @deplo.deplo_title %>
    </h2>
    <h3>
      <%= @deplo.deplo_info%>
    </h3>
    <% if @deplo.images.present? %>
    <div class="deplo__img__contents">
    <%= image_tag @deplo.images[0], class: "deplo__box__img" %> <%#　imagesを表示　%>
      <div class="other__images">
        <% @deplo.images[1..-1].each do |image| %> <%# テーブルに保存されているimagesを順番に表示 %>
          <div class="other__image" >
            <%= image_tag image %>
          </div>
        <% end %>
      </div>
    </div>
    <% else %>
      <div class="deplo__img__images">
        <%= image_tag("no_image.001.jpeg", class: :no__img) %>
      </div>
    <% end %>
    <h4>
      カテゴリー：<%= Category.find(@deplo.category_id)[:name] %>
    </h4>
    <h4>
      住&emsp;&emsp;&emsp;所：<%= Prefecture.find(@deplo.prefecture_id)[:name] %><%= @deplo.municipality%>
    </h4>
    <h4>
      投&emsp;稿&emsp;者：<%= @deplo.user[:nickname] %>
  </div>

  <% if user_signed_in? %>
    <% if current_user == @deplo.user %>
      <%= link_to "編集する", edit_deplo_path %><br/>
      <%= link_to "削除する", deplo_path, method: :delete %><br/><br/>
    <% end %>
  <% end %>
  <%= link_to "トップページに戻る", root_path %>
</div>