<div class="deplos-sell-main">
  <h2 class="deplos-sell-title">
  <%= @deplo.user[:nickname] %>の投稿一覧</h2><br/><br/>
  <%if @deplos.nil?%>
    <h3>
      まだ投稿がありません。
    </h3>
  <%else%>
  <% @deplos.each do |deplo|%>
    <ul class="lists">
      <%= link_to deplo_path(deplo.id), method: :get do %>
      <li class="list">
      <% if deplo.images.present? %>
        <div>
          <%= image_tag deplo.images[0].variant(resize: '200x200'), class: "deplo__img" %><br/>
        </div>
      <% else %>
        <div>
          <%= image_tag("no_image.png", class: :no__img) %>
        </div>
      <% end %>
        <h3 class='title'>
          <%= deplo.deplo_title %><br/><br/>
        </h3>
      </li>
      <% end %>
    </ul>
  <% end %>
  <%end%>
</div>

 