<!DOCTYPE html>
<html>
  <head>
    <title>DeplokinkiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="">
      <div class="top_header">
        <div>
          <%= link_to image_tag("deplo_logo.png", class: :logo), root_path %>
        </div>
        <div class="nav_right">
          <%#link_to 'ログアウト', hoge, class:"back-btn" %>
          <%= link_to '新規投稿', new_deplo_path, class:"back-btn" %>
          <%= link_to '新規登録', new_user_registration_path, class:"back-btn" %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
