<!DOCTYPE html>
<html>
  <head>
    <title>DeplokinkiApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <header class="">
      <div class="top_header">
        <div>
          <%= link_to image_tag("deplo_logo.png", class: :logo), root_path %>
        </div>
        <div class="search_bar_contents">

          <%= form_tag(search_deplos_path,:method => 'get') do %>
            <%= text_field_tag :search %>
            <%= submit_tag 'Search', :name => nil %>
          <% end %>

        </div>
        <div class="nav_right">
          <% if user_signed_in? %>
            <%= link_to '新規投稿', new_deplo_path, class:"back-btn" %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class:"back-btn" %>
          <% else %>
            <%= link_to '新規登録', new_user_registration_path, class:"back-btn" %>
            <%= link_to 'ログイン', new_user_session_path, class:"back-btn" %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
